.benefit-card {
  padding: 108px 20px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(5, 120, 226, 0.3);
  border-radius: 10px;

  min-height: 100%;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    /* чёрный */
    color: #0B0D0F;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: rgba(11, 13, 15, 0.5);
  }

  &--warranty {
    background: url("assets/icon-warranty.svg") no-repeat top 20px left 20px;
    background-size: 64px 64px;
  }
  &--laptop {
    background: url("assets/icon-laptop.svg") no-repeat top 20px left 20px;
    background-size: 80px 64px;
  }
  &--profile {
    background: url("assets/icon-profile.svg") no-repeat top 20px left 20px;
    background-size: 64px 64px;
  }
}
