mixin address
    +b.address
        +e.title Адрес склада
        +e.text.
            г. Санкт Петербург. Ленинградская область, Всеволжский р-н, в районе пос. Мурино, производственная зона Мурино, квартал №7, участок №15 (Склад №4)

