.applying-card {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(11, 13, 15, 0.6), rgba(11, 13, 15, 0.6));
  }

  &__image {
    overflow: hidden;
    border-radius: 12px;
    height: 185px;
    img {
      display: block;
      object-fit: cover;

      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    color: #FFFFFF;
    text-decoration: none;

    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &::after {
      content: "";
      mask-image: url("assets/icon-chevron-down.svg");
      background: #FFFFFF;
      transform: rotate(-90deg);
      width: 24px;
      height: 24px;
    }
  }
}
