.page-content {

  &__benefits {
    margin-bottom: 60px;
  }

  &__benefits-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;

    /* чёрный */
    color: #0B0D0F;

    margin-bottom: 30px;
  }
  &__benefits-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    gap: 24px;
  }

  &__benefits-item {
    flex: 1;
  }

  &__promo {
    margin-bottom: 60px;
  }

  &__applyings {
    margin-bottom: 60px;
  }
  &__applyings-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;

    /* чёрный */
    color: #0B0D0F;

    margin-bottom: 30px;
  }

  &__applyings-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__applyings-item {
    border-radius: 12px;
    overflow: hidden;
    flex: 1 1 392px;
  }

  &__popular {
    margin-bottom: 60px;
  }
  &__popular-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;

    /* чёрный */
    color: #0B0D0F;

    margin-bottom: 30px;
  }

  &__popular-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  &__popular-item {
    flex: 1;
    max-width: 290px;
  }

  &__solutions {
    margin-bottom: 60px;
  }

  &__solutions-header {
    display: flex;
    justify-content: space-between;
  }

  &__solutions-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;

    /* чёрный */
    color: #0B0D0F;

    margin-bottom: 30px;
  }

  &__solutions-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  &__solutions-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
  }
}
