.popular-card {
  background: #F2F3F3;
  border-radius: 12px;
  padding: 16px 18px;

  &__image {
    border-radius: 12px;
    overflow: hidden;
    height: 185px;
    margin-bottom: 20px;

    img {
      display: block;
      object-fit: cover;

      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    /* чёрный */
    color: #0B0D0F;

    margin-bottom: 20px;
  }

  &__price {
    font-size: 16px;
    line-height: 19px;

    color: rgba(11, 13, 15, 0.5);

    margin-bottom: 20px;
  }

  &__cta {

  }
}
